---
import PostHeader from '../components/PostHeader.astro';
import MainLayout from './MainLayout.astro';
import CategoryCloud from '../components/CategoryCloud.astro';

const { frontmatter } = Astro.props;
console.log({ frontmatter });

const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout title={title} description={description}>
  <PostHeader {title} {description} {date} {category} {author} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <h2 class="h3">Blog Categories</h2>
        <CategoryCloud showCount={false} />
      </aside>
    </div>
  </div>
</MainLayout>
